{% extends 'base.html' %}

{% block title %}-Funding{% endblock %}

{% block scripts %}
<script language="javascript">
 function showfunding() {
   alert("강의 펀딩이 개설되었습니다.");
 }

</script>
{% endblock %}

{% block content %}
<!-- ======== @Region: #content ======== -->
<div id="content">
    <form action="" method="post">
        <div class="container" id="about">
            <div class="row">
                <!--main content-->
                <div class="col-md-9 col-md-push-3">
                    <div class="page-header">
                        <h1>
                            <h3>강의 펀딩</h3>
                        </h1>
                    </div>
                    <div class="block block-border-bottom-grey block-pd-sm">
                        <form action="{% url 'lecturefunding' %}" method="POST" enctype="application/x-www-form-urlencoded">
                            {% csrf_token %}
                            <table width="800" height="400" style="padding:5px 0 5px 0;">
                                <tr>
                                    <th colspan="1">
                                        {{ form.lecture_title.label }}
                                    </th>
                                    <td rowspan="1">
                                        {{ form.lecture_title }}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="1">
                                        {{ form.lecture_summary.label }}
                                    </th>
                                    <td rowspan="1">
                                        {{ form.lecture_summary }}
                                    </td>
                                </tr>
                                <tr>
                                    <th><br><br></th>
                                </tr>
                                <tr>
                                    <td colspan="1"><br>
                                        <input type=submit id="conform" value="확인" onclick="showfunding();">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- sidebar -->
                <div class="col-md-2 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                    <h2>내 정보</h2>
                    <hr>
                    <h3>내 정보 수정 . . .</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                        <li><a href="{% url 'edit' %}">회원정보 수정</a></li>
                        </li>
                        <li><a href="{% url 'withdrawal' %}">회원탈퇴</a>
                        </li>
                    </ul>
                    <h3>내 강의 관리 . . . </h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'student' %}">수강생</a>
                        <li><a href="{% url 'teacher' %}">강사</a></li>
                        <li class="active">
                            <a href="{% url 'lecturefunding' %}">
                                강의 펀딩
                                <!-- <small>How to get in touch</small> -->
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}